* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: url(../img/san-francisco.jpg);
	background-size: cover;
	background-attachment: fixed;


}
/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.8);
}

.nav-link {
	position: relative;
	color: black;
}

h1 {
	position: relative;
	text-align: center;
	color: #dd800b;

}
.card {
	background-color: #A9A9A9;
	margin: 2px;
	opacity: 0.5;
}
  #profile {
	position:relative;
	height: 300px;
	width: 300px;
	
}

.fa-github, .fa-linkedin-in, .fa-envelope {
	position: relative;
	font-size: 2em;
	text-align: center;
	color: black;
	margin:1em;
	
	}
.progress {
	margin: 2em;
	position: relative;
}
.presentacion{
	position: relative;
	color:white;
}
.ver {
	margin: 90px auto 0;
    padding: 12px;
    width: 180px;
}
.skills{
	background-color: white;
	height: 400px;
	width: 700px;
	position: relative;
	margin: 4em;
	font-size: 40px;
}
.about {
	background-color: white;
	height: 300px;
	width: 700px;
	position: relative;
	margin: 4em;

}
.contact {
	background-color: white;
	height: 300px;
	width: 700px;
	position: relative;
	margin: 4em;

}
i {
	color: black;
}